*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Ignore files build by eclipse
[Bb]in/
[Tt]arget*/
.metadata/
.svn/
.settings/
.externalToolBuilders/

[Rr]elease*/
.project
.classpath
pom.xml.releaseBackup
release.properties

#Ignore file build by IDEA
.idea/
*.iml